.outbar {
	background-color: white;
	border: thin solid Gray;
	width: 100%;
	height: 100%;
}

.groupHeader, .groupHeaderOver, .groupHeaderClick {
    background-color: #d6d3ce;
    color: black;
    text-align: center;
    font-family: tahoma, arial;
    font-size: 11;
    border-left: 1px solid white;
    border-top: 1px solid white;    
}

.groupHeader {    
    border-bottom: 1px solid #0074AD; 	
    padding: 3px;
}

.groupHeaderOver {
	border: 2px outset;
	padding: 2px;
}

.groupHeaderClick {
    border: 2px inset;
    padding: 2px;
}

/* the color for the background */
.groupPanel, .groupPanelHidden {
    height: 100%;
    background-color: white;    
    border-top: 1px solid black;
    color: black;
    text-align: center;
    vertical-align: top;    
}

.clippedRegion {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.groupPanelHidden {
    display: none;
}

.outlookPanel {
	border-bottom: thin solid black;
	width: 100%;
	height: 100%;
}

.iconSection {
    margin-top: 8px;
    margin-bottom: 0px;
}

.icon {
    padding: 3px;
    width: 32px;
    height: 32px;
}

.iconOver {
    border-top: 1px solid #d6d3ce;
    border-left: 1px solid #d6d3ce;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2px;
    width: 34px;
    height: 34px;
}

.iconClick {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid #d6d3ce;
    border-bottom: 1px solid #d6d3ce;
    padding: 2px;
    width: 34px;
    height: 34px;
}

.iconLabel {
    padding: 1px;
    font-family: tahoma, arial;
    font-size: 11;
    cursor: default;
}