import net.jini.jrmp.JrmpExporter;
import net.jini.lookup.entry.Name;
import net.jini.lookup.entry.ServiceInfo;

org.firstopen.singularity.devicemgr.DeviceManagerJiniImpl {

	persistentDirectory="./deploy/log/start-transient-DeviceManager.log";

	//NOTE: initialLookupAttributes are only used the first time you run
	//a deployed service. To clear the current persistent set of values
	//delete the your project's log file -- deploy/log/start-transient-DeviceManager.log
	initialLookupAttributes=new net.jini.core.entry.Entry[]{
		new Name("DeviceManager"),
		new Timestamp()
	};

	initialLookupGroups=new java.lang.String []{
		new java.lang.String("org.firstopen.singularity.devicemgr.DeviceManagerJiniImpl")
	};

	serverExporter = new JrmpExporter();
}