import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.start {

     static curl = ConfigUtil.concat(new Object[] {
	   "http://","${org.firstopen.singularity.classserver}", ":","${org.firstopen.singularity.httpd.port}"});

     static cmCodebase = ConfigUtil.concat(new Object[] {
          " ", curl,"/singularity-system-1.0-MAIN.jar",
          " ", curl,"/singularity-util-1.0-MAIN.jar",
          " ", curl,"/singularity-config-1.0-MAIN.jar",
          " ", curl,"/commons-logging-1.0.4.jar",
          " ", curl,"/log4j-1.2.9.jar",
          " ", curl,"/hibernate-3.1.jar",
          " ", curl,"/xercesImpl-2.7.1.jar"});



	static policy = ConfigUtil.concat(new Object[] {
          "${org.firstopen.singularity.home}","/conf/service.policy"});

	static cmClasspath = ConfigUtil.concat(new Object[] {cmCodebase});

	static cmConfig = ConfigUtil.concat(new Object[] {
          "${org.firstopen.singularity.home}","/conf/transient-ConfigManager.config"});

      
      static rgCodebase = ConfigUtil.concat(new Object[] {
          " ", curl,"/reggie-2.1.jar",
          " ", curl,"/jsk-dl-2.1.jar"});

      static rgClasspath = ConfigUtil.concat(new Object[] {rgCodebase});
      
      static rgConfig = ConfigUtil.concat(new Object[] {
          "${org.firstopen.singularity.home}","/conf/jrmp-reggie.config"});
     
     static toolsJar = ConfigUtil.concat(new Object[] {
          "${org.firstopen.singularity.home}","/lib/tools-2.1.jar"});

     static libDir = ConfigUtil.concat(new Object[] {
          "${org.firstopen.singularity.home}","/lib"});

     
      static port = "${org.firstopen.singularity.httpd.port}";

     static serviceDescriptors = new ServiceDescriptor[] {

      new NonActivatableServiceDescriptor(
       "",
       "httpd_policy",
       toolsJar,
       "com.sun.jini.tool.ClassServer",
       new String[]{"-port", port, "-dir", libDir, "-verbose"}),

	new NonActivatableServiceDescriptor(
	    rgCodebase, policy, rgClasspath,
	    "com.sun.jini.reggie.TransientRegistrarImpl",
	    new String[] { rgConfig }),

	 new NonActivatableServiceDescriptor(
			cmCodebase, policy, cmClasspath,
			"org.firstopen.singularity.devicemgr.config.ConfigManagerJiniImpl",
			 new String[] { cmConfig }
	)};
}
