import net.jini.jrmp.JrmpExporter;
import net.jini.lookup.entry.Name;
import net.jini.lookup.entry.ServiceInfo;

org.firstopen.singularity.devicemgr.config.ConfigManagerJiniImpl {

	persistentDirectory="./deploy/log/start-transient-ConfigManager.log";


	initialLookupAttributes=new net.jini.core.entry.Entry[]{
		new Name("ConfigManager"),
		new Timestamp()
	};

	initialLookupGroups=new java.lang.String []{
		new java.lang.String("org.firstopen.singularity.devicemgr.config.ConfigManagerJiniImpl")
	};

	serverExporter = new JrmpExporter();
}